/* CSS for the user interface to playtest the Othello implementation. 
*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
header {
	margin-bottom: 1em;
	text-align: center;
}
footer {
	clear: both;
	margin-top: 1em;
	text-align: center;
	font-size: large;
}

#container {
	text-align: center;
}

#controls {
	margin: auto;
	text-align: center;
	font-size: large;
}
#controls button {
	border: 2px solid black;
	border-radius: 2px;
	font-size: large;
}
#controls select {
	border: none;
	text-align: center;
	font-size: large;
}
#controls button {
	background-color: white;
	color: black;
}
#controls button:hover {
	background-color: black;
	color: white;
}

/* Game board *****************************************************************/
#board table {
	border-collapse: collapse;
	margin: auto;
/*BEGIN user-select: none */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
/*END user-select: none */
}
#board table td {
	width: 2em;
	height: 2em;
	border: 1px solid rgb(0,80,40) !important;
}
#board table .ludorum-square-Black {
	background: rgb(20,170,70) url('othello-black.svg') no-repeat;
	background-size: 100%;
}
#board table .ludorum-square-White { 
	background: rgb(20,170,70) url('othello-white.svg') no-repeat;
	background-size: 100%;
}
#board table .ludorum-square-move { 
	background: rgb(20,170,70) url('othello-move.svg') no-repeat;
	background-size: 100%;
}
#board table .ludorum-square-empty { 
	background-color: rgb(20,170,70);
}