body {
	font-family: Helvetica, Arial;
	font-size: 14px;
}
body a {
	color: black;
}

#api_index {
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 20%;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	white-space: nowrap;
	padding: 0 0 0 1em;
}
#api_index a {
	text-decoration: none;
}
#api_index a:hover {
	text-decoration: underline;
}
#api_index ul {
	padding: 0;
	list-style-type: none;
}
#api_index ul ul {
	padding: 0 0 0 1em;
}

#api_detail {
	overflow-y: auto;
	overflow-x: hidden;
	margin: 0 0 0 20%;
	padding: 0 0 0 1.5em;
}
#api_detail h4 {
	font-weight: normal;
	background-color: rgb(220, 250, 255);
	padding: 1px;
}

.item_new {
	font-weight: bold;
}
.item_static {
	font-style: italic;
}
.item_abstract {
	color: rgb(0,0,128);
	font-style: italic;
}

header {
	border-bottom: 1px solid black;
}
header h1 {
	background-color: rgb(255, 253, 200);
}

footer {
	border-top: 1px solid black;
	text-align: right;
	padding: 0.5em;
}