<!DOCTYPE html>
<html><head>
	<title><%= title %></title>
	<link rel="stylesheet" href="api.css">
</head><body>
	<div id="api_index">
		<h3><a href="#">Index</a></h3>
		<%= index %>
	</div>
	<div id="api_detail">
		<header>
			<h1><%- title %></h1>
			<p><%- description %></p>
		</header>
	<% items.forEach(function (item) { %>
		<div>
			<h4><span class="<%= item.modifiers.map(function (mod) { return 'item_'+ mod; }).join(' ') %>">
				<a name="<%= encodeURIComponent(item.name) %>"></a>
				<code><%= item.header %></code>
			</span></h4>
			<% item.content.forEach(function (p) { %>
				<p><%= p %></p>
			<% }); %>
		</div>
	<% }); %>
		<footer><%= footer %></footer>
	</div>
</body></html>